.row
  - found_image = false
  - @attachments_oldest_first&.each do |a|
    .col-xs-12.attachment-desc{'data-attachment-id' => a.id}
      .x-box
        X
      = link_to a.downloadable_file_name, a.downloadable.url, target: '_blank', rel: 'noopener noreferrer'
      - if is_image?(a.downloadable_content_type)
        - if !found_image
          - found_image = true
          (Card image)
.row      
  .col-xs-offset-3.col-xs-6.text-center
    .attachment-div
      = file_field_tag 'idea[attachment]', id: 'attachment-button'
      #fake-link
        .fake-link-text
          Upload Attachment
        .current-attachment
          No upload selected
