.relative-container
  = text_area_tag 'idea[description]', @idea.description, class: 'form-control validated-box', 'data-expected-length' => vb.expected_length
  = label_tag 'idea[description]', t('prompts.idea.description'), class: 'placeholder-label'

