.relative-container
  = text_field_tag 'idea[title]', '', class: 'form-control watched-box', autofocus: true, 'data-expected-length' => 10
  = label_tag 'idea[title]', 'min length 10', class: 'placeholder-label'
