.relative-container
  = text_field_tag 'idea[title]', @idea.title, class: 'form-control validated-box', autofocus: true, 'data-expected-length' => 10
  = label_tag 'idea[title]', t('prompts.idea.title'), class: 'placeholder-label'
