= render partial: 'admin_add_button', locals: {button_text: t('idea.add_button'), button_target: new_idea_url}

= render partial: 'type__1_admin_template'
.row
  .col-xs-center-9
    .row#idea-list-container
= javascript_include_tag 'idea_list.js'
