%button.btn.btn-primary
  = link_to '+ Add An Idea', new_idea_url
  
- @ideas.each do |idea|
  .row.question-row
    .col-xs-10
      .cell-1
        = idea.title
    .col-xs-2
      = edit_or_select(idea)

- if @groupable
  %button.btn.btn-primary#add-multi-select
    Add To Question
