.row
  %a{href: new_idea_url}
    %button.btn.btn-primary
      = t(:add_button_text)
      
.entity-set  
  - @all_ideas.each do |idea|
    .row.question-row{class: hide_by_contained(idea, @question)}
      .col-xs-10
        .cell-1
          = idea.title
      .col-xs-2
        = edit_view_icons(idea)

