.row
  %a{href: new_idea_url}
    .btn.btn-primary
      = t(:add_button_text)

= render partial: 'type__1_admin_template'
#idea-list-container.col-xs-center-9
= javascript_include_tag 'idea_list.js'
