.row
  .col-xs-12
    Create Idea
    
= form_tag("/ideas", method: :post, id: :idea_new) do
  - Idea.viewbox_list.each do |vb|
    - if vb.shown
      = render partial: vb.partial_name, layout: 'builder_box', locals: {vb: vb}
  = submit_tag 'Save', class: 'btn btn-primary', id: 'object-save'


