%tr{style: tr100 + reportpara + h2font}
  %td{style: width_ratio(30, 100) + boldfont}
    Average Spending / Cost
  %td{style: width_ratio(70, 100) + boldfont}
    Ideas
    
- qn[:sorted_idea_avg_budget].each do |budget_data|
  %tr
    %td{style: width_ratio(30, 100) }
      = "#{as_dollar(budget_data[2])} / #{as_dollar(budget_data[3])}"
    %td{style: width_ratio(70, 100) }
      = budget_data[1]

