.row.h2-font
  .col-xs-2.bold-text
    Average Spending
  .col-xs-1.bold-text
    Cost
  .col-xs-9.bold-text
    Ideas
    
- qn[:sorted_idea_avg_budget].each do |budget_data|
  <!- [3,20.0,10.0]  ->
  .row
    .col-xs-2
      = as_dollar(budget_data[2])
    .col-xs-1
      = as_dollar(budget_data[3])
    .col-xs-9
      = budget_data[1]

