- qn[:lists_by_idea].each do |title, id_list|
  .row
    .col-xs-12.bold-text.h2-font.para-line
      = title
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %td.col-xs-12
          Participant ID
      %tbody
        - id_list.each do |id|
          %tr
            %td.col-xs-12
              = id
