%tr{style: tr100 + reportpara + h2font}
  %td{style: width12(1) + boldfont}
    Pro
  %td{style: width12(1) + boldfont}
    Con
  %td{style: width12(10) + boldfont}
    Ideas
    
- qn[:procon_diffs].each do |ct_data|
  %tr
    %td{style: width12(1) + boldfont}
      = ct_data[:pro_count]
    %td{style: width12(1) + boldfont}
      = ct_data[:con_count]
    %td{style: width12(10) + boldfont}
      = ct_data[:title]
