%tr{style: tr100 + reportpara + h2font}
  %td{style: width_ratio(15, 100) + boldfont}
    Pro
  %td{style: width_ratio(15, 100) + boldfont}
    Con
  %td{style: width_ratio(70, 100) + boldfont}
    Ideas
    
- qn[:procon_diffs].each do |ct_data|
  %tr
    %td{style: width_ratio(15, 100)}
      = ct_data[:pro_count]
    %td{style: width_ratio(15, 100) }
      = ct_data[:con_count]
    %td{style: width_ratio(70, 100) }
      = ct_data[:title]
