.row.h1-font
  .col-xs-4.bold-text
    Radio Options
  .col-xs-8.bold-text
    Total Counts

- qn[:sorted_radio_counts].each do |ct_data|
  .row
    .col-xs-4
      = ct_data[0]
    .col-xs-8
      = ct_data[1]
