.row.h2-font
  .col-xs-2.bold-text
    Total Counts
  .col-xs-10.bold-text
    Radio Options

- qn[:sorted_radio_counts].each do |ct_data|
  .row
    .col-xs-2
      = ct_data[1]
    .col-xs-10
      = ct_data[0]
