.row.h1-font
  .col-xs-4.bold-text
    Ideas
  .col-xs-8.bold-text
    Ranking Averages

- qn[:ranking_averages].each do |avg_data|
  .row
    .col-xs-4
      = avg_data[:title]
    .col-xs-8
      = avg_data[:avg]
