.row.h2-font
  .col-xs-2.bold-text
    Ranking Averages
  .col-xs-10.bold-text
    Ideas

- qn[:ranking_averages].each do |avg_data|
  .row
    .col-xs-2
      = sprintf("%0.2f", (avg_data[:avg] || 0))
    .col-xs-10
      = avg_data[:title]
