.row.h2-font
  .col-xs-1.bold-text
    Selected
  .col-xs-11.bold-text
    Idea

- qn[:sorted_idea_top_counts].each do |ct_data|
  .row
    .col-xs-1
      = ct_data[2]
    .col-xs-11
      = ct_data[1]
