%tr{style: tr100 + reportpara}
  %td{style: width12(2) + boldfont + h2font}
    \#Times selected
  %td{style: width12(10) + boldfont + h2font}
    Idea

- qn[:sorted_idea_top_counts].each do |ct_data|
  %tr
    %td{style: width12(2)}
      = ct_data[2]
    %td{style: width12(10)}
      = ct_data[1]
