%script#type-5-public-template{type: 'text/template'}
  .component-row.row
    .col-xs-12.component-field
      %input{type: 'radio', name: 'detail_nonidea_radio'}
      %span.editable-text
        <%- text %>
