%script#type-0-public-template{type: 'text/template'}
  .row.procon-idea-row.idea-row.any-card-row
    .idea-title.col-xs-12
      <%- title %>
    .idea-description.col-xs-12
      <%- description %>

    .col-xs-6.note-holder
      = text_area_tag :current_pro, ''
    .col-xs-6.note-holder
      = text_area_tag :current_con, ''
    .col-xs-6.note-holder
      %button.addpro.addnote
        Add Pro
    .col-xs-6.note-holder
      %button.addcon.addnote
        Add Con
