%script#type-3-public-template{type: 'text/template'}
  .row.budget-idea-row.idea-row
    .col-xs-2
      Budget Idea
    .idea.col-xs-10
      .row
        .idea-title.col-xs-12
          <%- title %>
      .row
        .idea-description.col-xs-12
          <%- description %>
      
