%script#procon-entry{type: 'text/template'}
  .col-xs-12.procon-entry
    <%- text %>
  
%script#type-0-public-template{type: 'text/template'}
  .procon.idea-row.component-row
    = render partial: 'idea_card'
    .row#current-procon-list
      .procon-title
        .col-xs-6.text-center.bold-text
          Pros
        .col-xs-6.text-center.bold-text
          Cons
      .col-xs-6#pro-column
        .row
      .col-xs-6#con-column
        .row
    .row.input-row
      .input-controls.col-xs-6
        .heading
          
        .x-box
          X
        %textarea#current-procon{rows: 5}
        .site-button#save-procon
          Save
      .col-xs-12.cancel-padding
        .row.procon-button
          .col-xs-6
            .site-button#addpro
              Add a Pro
          .col-xs-6
            .site-button#addcon
              Add a Con
