%script#type-1-public-template{type: 'text/template'}
  .row.ranked-idea-row.idea-row
    .ranked-index
      <%- index %>
    .controls-box.col-xs-1
      .plus-sign.ranking-sign.up
        +
      .minus-sign-p.ranking-sign.down
        \-
    .idea.col-xs-10
      .row
        .idea-title.col-xs-12
          <%- title %>
      .row
        .idea-description.col-xs-12
          <%- description %>
      
