%script#type-6-public-template{type: 'text/template'}
  .field-example
    .editable-text{contentEditable: 'true', onclick: 'document.execCommand(\'selectAll\',false,null)'}
      <%- text %>
    .text-entry-box
