%script#type-2-public-template{type: 'text/template'}
  .component-row.idea-row
    = render partial: 'idea_card'

%script#type-2-add-idea-form-public-template{type: 'text/template'}
  .col-xs-12.bottom-padding
    .bold-text.bottom-padding
      Title
    = text_field_tag :new_idea_title, '', placeholder: t('prompts.newidea.title'), class: 'edit-areas', required: true
  .col-xs-12
    .bold-text.bottom-padding
      Description
    = text_area_tag :new_idea_description, '', placeholder: t('prompts.newidea.description'), class: 'edit-areas', required: true
