%script#type-5-public-template{type: 'text/template'}
  .row.component-row.any-card-row
    .col-xs-12.component-field.clickable
      %input{type: 'radio'}
      %span.radio-choice-text
        <%- text %>
