%script#type-3-public-template{type: 'text/template'}
  .row.budget-idea-row.idea-row
    .idea.col-xs-12
      .idea-title
        <%- title %>
      .idea-description
        <%- description %>
    .col-xs-12.budget-line
      .spend-amount
        = precede '$' do
          %span.amount-box <%- spend_amount %>
      .add-to-cart.site-button
        Add to Cart
