%script#type-0-public-template{type: 'text/template'}
  .row.procon-idea-row.idea-row.any-card-row
    .idea.col-xs-12
      .idea-title
        <%- title %>
      .idea-description
        <%- description %>

    .col-xs-12.proscons-title
      .row
        .bold-text.text-center.col-xs-6
          Pros
        .bold-text.text-center.col-xs-6
          Cons
    .col-xs-12
      .row#current-procon-list
    .col-xs-12.cancel-padding
      .row
        .col-xs-6
          .site-button#addpro
            Add a Pro
          .site-button#savepro
            Save
        .col-xs-6
          .site-button#addcon
            Add a Con
          .site-button#savecon
            Save
