%script#type-5-public-template{type: 'text/template'}
  .row.component-row
    .col-xs-12.component-field.clickable
      %input{type: 'radio', name: 'radio_<%- survey_question_id %>'.html_safe}
      %span.radio-choice-text
        <%- text %>
