%script#type-1-public-template{type: 'text/template'}
  .row.ranking-idea-row.idea-row.any-card-row
    .ranked-index
      <%- idea_rank %>
    .user-controls-box.col-xs-1
      .plus-sign.ranking-sign.up
        +
      .minus-sign-p.ranking-sign.down
        \-
    .idea.col-xs-10
      .row
        .idea-title.col-xs-12
          <%- title %>
      .row
        .idea-description.col-xs-12
          <%- description %>
      
