#idea-list-app.row.relative-container
  #selected-list.col-xs-12
  #search-list.col-xs-12.unassigned-components

= render 'survey_question_templates/all_idea_templates'
    
%script#admin-add-idea-list{type: 'text/template'}
  .row
    %button.btn.btn-primary.with-text#add-component{type: 'button'}
      = t('buttons.survey_question.add_idea')
