.col-xs-12.bottom-padding
  .bold-text.bottom-padding
    Title
  .fake-textfield
    Add a short title for your idea
.col-xs-12
  .bold-text.bottom-padding
    Description
  .fake-textarea
    Add a description  
