.row
  %a{href: new_survey_question_url}        
    %button.btn.btn-primary
      = t(:add_button_text)

.entity-set
  .row.table-headers
    .col-xs-8
      Question Title
    .col-xs-2
      Question Type
    .col-xs-2
      Actions
      
- @questions.each do |question|
  .row.question-row{class: hide_by_contained(question, @survey)}
    .col-xs-8.goto-edit{'data-goto-target' => edit_survey_question_path(question)}
      .cell-1
        = question.title
    .col-xs-2
      .cell-1
        = SurveyQuestion::QuestionType.name(question.question_type) || 'Not set'
    .col-xs-2
      = edit_view_icons(question)
