= render partial: 'admin_add_button', locals: {button_text: t('survey_question.add_button'), button_target: new_survey_question_url}
      
- if @questions.size > 0
  .row
    .entity-set  
      - @questions.each do |question|
        .col-xs-center-9.question-row.goto-edit{'data-goto-target' => edit_survey_question_path(question)}
          .row.question-data{'data-object-id' => question.id, 'data-object-type' => 'survey_question'}
            .x-box
              X
            .h2-font.col-xs-12.question-card-line
              = question.title
            .survey-status.col-xs-12.question-card-line
              = SurveyQuestion::QuestionType.name(question.question_type) || 'Not set'
            .question-prompt.col-xs-12.question-card-line
              = question.question_prompt
