.row.table-headers
  .col-xs-6
    Question Title
  .col-xs-2
    Question Type
  .col-xs-4
      
.row
  - @questions.each do |question|
    .col-xs-6
      .cell-1
        = question.title
    .col-xs-2
      .cell-1
        = question.question_type || 'Not set'
    .col-xs-4
      .cell-1
        = link_to '+ Ranking', edit_survey_question_url(question, step_command: :multi_idea_add)
