= form_tag("/survey_questions", method: :post, id: :survey_question_new) do
  = hidden_field_tag :survey_question_id, (@question.id || 0)
  - SurveyQuestion.viewbox_list.each do |vb|
    = render partial: vb.partial_name, layout: 'builder_box', locals: {vb: vb}
  = submit_tag 'Save', class: 'btn btn-primary', id: 'object-save'
