%h1
  Question: #{@question.title}
  %a{href: edit_survey_question_url(@question)}
    %i.fa.fa-pencil.active-icon

.field
  .field-title
    Question Type
  .field-value
    #{SurveyQuestion::QuestionType.name(@question.question_type)}
  - if @question.question_type_name == 'Budgeting'
    .field-title
      Question Budget
      .field-value
        = @question.budget
  - if @question.question_type >= 5
    = @question.question_detail.details_list.join(';')
