%h1
  Question: #{@question.title}

.field
  .field-title
    Question Type
  .field-value
    #{SurveyQuestion::QuestionType.name(@question.question_type)}
  - if @question.question_type_name == 'Budgeting'
    .field-title
      Question Budget
      .field-value
        = @question.budget
