#question-list-app.row.relative-container
  #selected-list.col-xs-12
  #search-list.col-xs-12.unassigned-components
      
%script{type: 'text/template', id: 'survey-question-search-template'}
  .title-box
    <%- title %>
  %span.square-button.green
    +
    
// this is shared with what participants see in the summary view
= render partial: 'question_summary'

%script#admin-search-question-list{type: 'text/template'}
  .row
    .col-xs-12
      = t('survey.search_list_title_html')
    .col-xs-12
      %input{type: 'text', name: 'question-search', id: 'question-search', placeholder: 'Search by'}
  #unassigned-questions
%script#admin-add-question-list{type: 'text/template'}
  .row
    %button.btn.btn-primary.with-text#add-component{type: 'button'}
      = t('buttons.survey.add_question')
