#question-list-app.row
  #selected-list.col-xs-12
  #search-box.col-xs-12
      
%script{type: 'text/template', id: 'survey-question-search-template'}
  .title-box
    <%- title %>
  %span.square-button.green
    +
%script{type: 'text/template', id: 'survey-question-list-template'}
  .title-box
    <%- title %>
%script#admin-search-question-list{type: 'text/template'}
  .row
    .col-xs-12
      <%- available_count %> questions left, 'cos you added <%- added_count %>
    .col-xs-12
      %input{type: 'text', name: 'question-search', id: 'question-search', placeholder: 'Search by'}
  #unassigned-questions.row
