%script#sq-ranking-template{type: 'text/template'}
  .question-prompt
    <%- question_prompt %>    
  #idea-list

%script#sq-procon-template{type: 'text/template'}
  .question-prompt
    <%- question_prompt %>    
  #idea-list
