%script#idealist-ranking-template{type: 'text/template'}
  #ranked-idea-list.row
    .col-xs-12.unranked
      Unranked
  #unranked-idea-list.row

%script#idealist-procon-template{type: 'text/template'}
  .row#container

