%script#ranking-idea-template{type: 'text/template'}
  .controls-box
    .move-to-ranked
      *^*
    .plus-sign.ranking-sign
      +
    .minus-sign.ranking-sign
      \-
  .ranked-index
    Index: <%- index %>
  .idea
    .idea-title
      <%- title %>
      
