%script{id: script_id, type: 'text/template'}
  .screen{'id' => raw('<%- question_screen_id %>')}
    .col-xs-offset-2.col-xs-8
      .screen-title
        <%- title %>    
    .col-xs-offset-2.col-xs-8
      .screen-body
        = yield :body_html

        
