%script#survey-question-summary-template{type: 'text/template'}
  .question-row.component-row.row
    .col-xs-12
      .details-container.row
        .title-box.col-xs-12
          <%- title %>
        .question-type-box.col-xs-12
          <%- question_type_name %>
        .prompt-box.col-xs-12
          Prompt: <%- question_prompt %>

