%tr{style: reportpara + h2font}
  %td{style: tr50 + centeralign}
    Unique Participants
  %td{style: tr50 + centeralign}
    Participation Rate
%tr.survey-summary-data.report-para.h2-font
  %td{style: tr50 + centeralign + themegreen}
    = respondent_count
  %td{style: tr50 + centeralign + themered}
    = sprintf("%0.2f", participation_rate)
