= render partial: 'surveys/report_heading'      
- @report_list[:answer_stats].each do |question|
  %tr{style: tr100 + reportpara}
    %td{style: tr100 + centeralign + h2font, colspan: 2}
      = question[:question_title]
  %tr{style: tr100 + reportpara}
    %td{style: tr100 + centeralign, colspan: 2}
      = question[:question_prompt]
