.row.report-para.h1-font.bold-text
  .col-xs-12
    = @report_list[:title]

= render partial: 'report_heading_numbers', locals: {respondent_count: @report_list[:respondent_count], participation_rate: @report_list[:finish_count].to_f/@report_list[:individual_answer_count] }
