%tr{style: tr100 + centeralign}
  %td{style: tr100 + boldfont + h1font + centeralign, colspan: 2}
    = @report_list[:title]

= render partial: 'report_heading_numbers', locals: {respondent_count: @report_list[:respondent_count], participation_rate: @report_list[:individual_answer_count] / (@report_list[:number_of_questions] * @report_list[:respondent_count].to_f)}
