- haml_tag :tr, style: (reportpara + h2font + forcetoppadding(20, border: false) + tr100) do
  %td{style: tr50 + centeralign}
    Unique Participants
  %td{style: tr50 + centeralign}
    Participation Rate
%tr.survey-summary-data.report-para.h2-font
  %td{style: tr50 + centeralign + themegreen}
    = respondent_count
  %td{style: tr50 + centeralign + themered}
    = as_percentage participation_rate
