= text_area_tag 'survey[thankyou_note]', @survey.thankyou_note, class: 'form-control validated-box', 'data-expected-length' => vb.expected_length
= label_tag 'survey[thankyou_note]', t('prompts.survey.thankyou'), class: 'placeholder-label'
