.relative-container
  = text_field_tag 'survey[title]', @survey.title, class: 'form-control validated-box', 'data-expected-length' => vb.expected_length
  = label_tag 'survey[title]', t('prompts.survey.title'), class: 'placeholder-label'
