.relative-container
  = text_field_tag 'survey[title]', @survey.title, class: 'form-control validated-box', 'data-expected-length' => vb.expected_length
  = label_tag 'survey[title]', "min length #{vb.expected_length}", class: 'placeholder-label'
