.relative-container
  = text_field_tag 'survey[title]', @survey.title, class: 'form-control watched-box', 'data-expected-length' => expected_length
  = label_tag 'survey[title]', 'min length 10', class: 'placeholder-label'
