.row
  %a{href: new_survey_url}
    .btn.btn-primary
      = t(:add_button_text)

.entity-set
  .row.table-headers
    .col-xs-6
      Survey Name
    .col-xs-2
      Status
    .col-xs-2
      Indiv Answers Submitted
    .col-xs-2
      Completion Rate

  #survey-list-app
%script#survey-listing-template{type: 'text/template'}
  .col-xs-6
    .cell-1
      %a{href: raw('<%- survey_show_url %>')}
        <%- title %>
      %a{href: raw('<%= survey_edit_url %>')}
        %i.fa.fa-pencil.active-icon{style: 'float: right'}
  .col-xs-2.survey-dropdown-cell
    .cell-1#status-change-dropdown      
      <%- displayed_survey_status %>
      %i.fa.fa-chevron-down
  .col-xs-2
    .cell-1
      <%- individual_answer_count %>
  .col-xs-2
    .cell-1
      %a{href: "/surveys/public_show/<%- public_link %>".html_safe, id: 'public-link'}
        Link
