.row
  .btn.btn-primary
    = link_to t(:add_button_text), edit_survey_url(id: 0)

.entity-set
  .row.table-headers
    .col-xs-6
      Survey Name
    .col-xs-2
      Status
    .col-xs-2
      Completed Surveys
    .col-xs-2
      Completion Rate

  .row#survey-list-app
%script#survey-listing-template{type: 'text/template'}
  .col-xs-6
    .cell-1
      %a{href: raw('<%- survey_show_url %>')}
        <%- title %>
      %a{href: raw('<%= survey_edit_url %>')}
        %i.fa.fa-pencil.active-icon{style: 'float: right'}
  .col-xs-2
    .cell-1
      <%- displayed_survey_status %>
  .col-xs-2
    .cell-1
      560
  .col-xs-2
    .cell-1
      76%
