.row
  %a{href: new_survey_url}
    .btn.btn-primary
      = t(:add_button_text)

.entity-set
  .row.table-headers
    .col-xs-12
      Survey Name
- if @surveys.size > 0
  .entity-set  
    - @surveys.each do |survey|
      .row.question-row
        .col-xs-12.goto-edit{'data-goto-target' => edit_survey_path(survey)}
          .cell-1
            = survey.title


