.row
  %a{href: new_survey_url}
    .btn.btn-primary
      = t(:add_button_text)

.entity-set
  .row.table-headers
    .col-xs-8
      Survey Name
    .col-xs-2
      Links
    .col-xs-2
      Status

  #survey-list-app
%script#survey-listing-template{type: 'text/template'}
  .col-xs-8.goto-edit{'data-goto-target-template' => edit_survey_path(id: '0id0')}
    .cell-1
      <%- title %>
  .col-xs-2
    .cell-1
      = succeed ',' do
        %a{href: "/surveys/public_show/<%- public_link %>".html_safe, id: 'public-link'}<
          Shareable Link
      %a{href: "/surveys/<%- id %>/report".html_safe, id: 'report-link'}
        Report

  .col-xs-2.survey-dropdown-cell
    .cell-1#status-change-dropdown      
      <%- displayed_survey_status %>
      %i.fa.fa-chevron-down
