= form_tag("/surveys", method: :post, id: :survey_new) do
  = hidden_field_tag :survey_id, (@survey.id || '')
  - Survey.viewbox_list.each do |vb|
    - if vb.shown
      = render partial: vb.partial_name, layout: 'builder_box', locals: {vb: vb}
  = submit_tag 'Save', class: 'btn btn-primary', id: 'object-save'
