= hidden_field_tag :cookie_key, @cookie_key, class: 'metadata'
= hidden_field_tag :survey_token, '', 'data-survey-token' => @survey.public_link

#survey-public-view
  #survey-navbar
  #survey-intro.survey-sections
  #sq-list
  #survey-summary.survey-sections
  #survey-thankyou.survey-sections

%script#survey-intro-template{type: 'text/template'}
  .screen#welcome-screen
    .row
      .col-xs-offset-3.col-xs-6
        .public-title
          Introduction
    .row       
      .col-xs-offset-2.col-xs-8
        .public-body
          <%- introduction %>
%script#survey-summary-template{type: 'text/template'}
  .screen#summary-screen
    .row
      .col-xs-12
        Summary (<%- question_count %> Total Questions; <%- answered_qns_count %> are answered)
        #summary-data
    
%script#survey-thankyou-template{type: 'text/template'}
  .screen#thankyou-screen
    .row
      .col-xs-12
        .public-title
          Thank You!
    .row       
      .col-xs-offset-2.col-xs-8.public-body
        <%- thankyou_note %>

// navbar template
%script#survey-nb-template{type: 'text/template'}
  .row.survey-nb-row
    .col-xs-offset-3.col-xs-6
      .row
        .col-xs-4#go-left.active
          Previous
        .col-xs-4#current-question
          <%- current_question_index %> of <%- total_screens %> steps
        .col-xs-4#go-right.active
          Next
          
%script#survey-question-template{type: 'text/template'}
  .col-xs-offset-3.col-xs-6
    .question-prompt
      <%- question_prompt %>    
  #idea-list.col-xs-12

= render 'survey_question_templates/all_idea_templates'
