= hidden_field_tag :cookie_key, @cookie_key, class: 'metadata'
= hidden_field_tag :survey_id, '', 'data-survey-id' => @survey.id

#app
  #survey-navbar
  #sq-list
  %button#save-response
    Save Response

%script#survey-nb-template{type: 'text/template'}
  .row.survey-nb-row
    .col-xs-offset-3.col-xs-6
      .row
        .col-xs-4#go-left
          Previous
        .col-xs-4#current-question
          <%- current_question_index %> of <%- total_questions %> Questions
        .col-xs-4#go-right
          Next
          
%script#sq-template{type: 'text/template'}
  = hidden_field_tag :survey_question_data, '', 'data-question-type' => "<%- question_type %>"
  <%- title %>
  #idea-list

= render partial: 'backbone_templates'
