#survey-public-view
  .row
    .col-xs-offset-3.col-xs-6
      .public-title
        = t('public.screen_titles.thankyou')
    .col-xs-offset-2.col-xs-8
      .public-body
        = @survey.thankyou_note
