= hidden_field_tag :survey_data, '', 'data-survey-id' => @survey.id
#test
.row
  .page-title.col-xs-12
    #{@survey.title}
.row
  .page-title.col-xs-12
    #{@survey.survey_questions.count} Questions

.question-list
  .row.table-headers
    .col-xs-6
      Question
    .col-xs-6

  - @survey.survey_questions.each do |qn|
    .row
      .col-xs-6.cell-1
        = qn.title
      .col-xs-6.cell-1.center

#idea-list
  .trybox
    idea list
%script#idea-template{type: 'text/template'}
  .idea-view
    .idea-title
      <%- title %>
      has <%- note_counts['pro'] %> pros and <%- note_counts['con'] %> cons.
    %button.addpro
    %button.addcon
        
