.row
  .page-title.col-xs-12
    #{@survey.title}
.row
  .page-title.col-xs-12
    #{@survey.survey_questions.count} Questions

.survey-summary
  .row.table-headers
    .col-xs-3
      Status
    .col-xs-3
      Completed Surveys
    .col-xs-3
      Completion Rate
    .col-xs-3
      Link

.question-list
  .row.table-headers
    .col-xs-6
      Question
    .col-xs-6
      Question Type
        
%p
  Owner: #{@survey.owner.email}
