@font-face {
  font-family: Montserrat;
  src: font-url(asset-path('Montserrat-Regular.ttf')) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MontserratBold;
  src: font-url(asset-path('Montserrat-Bold.ttf')) format('truetype');
  font-weight: 700;
}

body {
 height: auto;
 width: 100%;
 font-family: 'Montserrat', sans-serif;
 font-size: 16px;
 color: $text-gray;
 line-height: 150%;
}

img {max-width:100%;}

.strike-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.flash-box {
  padding: 10px 5px;
  min-height: 40px;

  background-color: lightred;
  color: black;

  display: inline-block;
  margin: auto;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

p {
  margin-top: 5px;
}

.centered-textbox {
  border: blue solid $border-thickness;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  height: 40px;
  line-height: 25px;
  vertical-align: middle;
}

form {
  font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif;
  label {
    margin-bottom: 7px;
  }

  input[type=text], input[type=email], input[type=password] {
    margin: 5px 0 15px;
  }

  input[type=checkbox] {
    margin-top: 0px;
  }
}

.text-center {
  text-align: center;
}

.sign-in-form {
  padding: 20px;
  border: $border-thickness solid $form-border-gray;
  background-color: $form-background;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

.btn {
  @include bold-text();
  margin-top: 20px;
  display: block;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(#8add6d, #60b044);
  font-size: 1.05em;

  color: $theme-white;
  a, a:hover {
       color: $theme-white;
       text-decoration: none;
     }
  vertical-align: middle;
  &.green {
    background-image: initial;
    background-color: $theme-green;
  }
  &.red {
    background-image: initial;
    background-color: $theme-red;
  }
  
}

.auth-form-footer {
  font-size: 0.8em;
}

.btn, .btn-primary {
  background-color: $button-background;
  background-image: none;
}

.navtop {
  background-color: $background-gray;
  margin-bottom: 20px;
  padding: 20px;
}

.footer {
  background-color: $background-gray;
  padding: 20px;
  width: 100%;
  .cityname {
    @include h2-title();
    text-align: center;
    color: $theme-red;
  }
  
  .subfooter {
    font-size: 0.8em;
    .centerbox {
      width: 415px;
      @media(max-width: $mobile-breakpoint) {
	width: 215px;
      }
      margin: 0 auto;
      * {
	display: inline-block;
      }
      
      .itembox {
	width: 200px;
	@media(max-width: $mobile-breakpoint) {
	  width: 100px;
	}
      }
      .pipebox {
	width: 5px;
      }
    }
  }
}

.float-right {
  @include float-right();
}

.nav-right {
  @include float-right();
  width: 150px;
}

.primary-level {
  @include h2-title();
}

.primary-level,.secondary-level {
  color: $text-gray;
  .menu-selected {
    color: $theme-red;
  }  
}

.container-fluid {
  .main {
    @media (min-width: $mobile-breakpoint) {
      max-width: 75%;
      margin: auto;
    }
    @media (max-width: $mobile-breakpoint) {
      max-width: 100%;
    }
  }
}

.secondary-level {
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 5px;
  .active-text {
    color: $text-gray;
  }
  .subsection-text {
    text-decoration: underline;
  }
}

.secondary-item-border {
  background-color: $background-gray;
  padding: 5px;
  border-bottom: solid 5px $background-gray;
}
.secondary-item {
  text-align: center;
  padding: 5px;
  cursor: pointer;
  background-color: $background-gray;
  a, a:hover, a:visited {
		color: inherit;
		text-decoration: none;
	      }
  &:hover {
    border-radius: 5px;
  }
}

.myhidden {
  display: none;
}
.center {
  text-align: center;
}

.entity-set {
  margin-top: 10px;
}

.alert-text {
  text-transform: uppercase;
  font-size: 0.9em;
  color: red;
}

.bold-text {
  @include bold-text();
}

.error-box {
  color: $theme-red;
}

.cell-1 {
  border: $border-thickness solid $form-border-gray;
  border-radius: 5px;
  padding: 15px 5px;
  min-height: 40px;

  .fa {
    float: left;
    padding-right: 10px;

    &.inactive-icon {
      opacity: 0.0;
      padding-right: 0px;
      &:before {
	display: none;
      }
    }
    
    &.active-select {
      color: $selected-green;
    }
  }
}

.goto-edit .cell-1 {
  cursor: pointer;
  &:hover {
    background-color: $hover-blue;
  }
}

/* Padding related */
.cancel-padding {
  padding: 0;
}
.row.cancel-margins {
  margin-left: 0px;
  margin-right: 0px;
}

.bottom-padding {
  padding-bottom: 10px;
}

.clickable {
  cursor: pointer;
}

.relative-container {
  position: relative;
}

.overlay {
  display: none;
  z-index: 2;
  background-color: rgba(200,200,200,.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.h1-font {
  /* Just a redirect */
  @include h1-title();
}
.desktop-h2-font {
  @media (min-width: $mobile-breakpoint) {
    @include h2-title();
  }
}

.h2-font {
  /* Just a redirect */
  @include h2-title();
}

/* Custom bootstrappy stuff */
.col-xs-offset-half {
  @media (max-width: $mobile-breakpoint) {
    margin-left: 4.1666667%;
  }
}
.para-line {
  margin-bottom: 20px;
}

.link-font {
  a {
    &:hover {
      color: $fake-link-blue;
    }
    color: $fake-link-blue;
  }
}

.theme-red {
  color: $theme-red;
}

.theme-green {
  color: $theme-green;
}
.col-xs-center-9 {
  /* Mimic Bootstrap as if you can center a 2/3rd's width column */ 
  width: 88%;
  margin-left: 6%;  
}
.col-sm-offset-2p5 {
  @media (min-width: 768px) {
    margin-left: 20.833%;
  }
}
.col-sm-offset-1p5 {
  @media (min-width: 768px) {
    margin-left: 12.5%;
  }
}

.col-sm-2p5 {
  @media (min-width: 768px) {
    width: 20.8333%;
  }
}

.col-xs-2p5 {
  @media (max-width: 768px) {
    width: 20.8333%;
  }
}

.centered-cell {
  width: 100%;
  text-align: center;
}

