.aligner label {
  vertical-align: baseline;
}

.form-header {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.builder-box {
  position: relative;
  padding: 10px;
  border: dashed 3px $background-gray;
  border-radius: 5px;
  margin-bottom: 10px;
  textarea {
    width: 100%;
  }
  
  .title {
    @include bold-text();
    text-align: center;
    margin-bottom: 15px;
  }
  .help-text {
    display: none;
  }
  .budget-box {
    input {
      width: 100%;
    }
  }
    
  select {
    display: block;
    margin: 0 auto;
  }

  input + label.placeholder-label {
    position: absolute;
    top: 10px;
    left: 35px;
    font-size: 0.9em;
  }
  input.with-text + label.placeholder-label {
    transition: left 0.5s;
    left: 90%;
    padding: 0 2px;
    background-color: white;
  }
}

.builder-after {
  cursor: pointer;
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 5px;
  right: 10px;
  background-color: wheat;
  border-radius: 50%;
  border: solid 1px black;
  color: black;
  text-align: center;
}
.relative-container {
  position: relative;
}
.active-icon {
  cursor: pointer;      
}

.delete-box {
  padding-top: 10px;
  cursor: pointer;
}

.table-headers {
  font-family: 'Montserrat';
  text-align: center;
  margin-bottom: 10px;
}

