.question-row {
  margin-bottom: 10px;
}

.cell-1 {
  .fa {
    float: right;
    padding-left: 10px;

    &.inactive-icon {
      opacity: 0.0;
    }
    
    &.active-icon {
      cursor: pointer;      
    }

    &.active-select {
      color: $selected-green;
    }
  }
}
