@mixin solid-bottom-border() {
  border-bottom: solid 5px $form-border-gray;
}

@mixin solid-border($border_color, $border_radius) {
  border: solid 1px $border_color;
  border-radius: $border_radius;
}

@mixin solid-gray-border($border_radius: 5px) {
  border: solid 2px $form-border-gray;
  border-radius: $border_radius;
}

@mixin h1-title {
  font-family: MontserratBold, sans-serif;
  font-weight: bold;
  font-size: 1.75em;
}
@mixin h2-title {
  font-family: Montserrat, sans-serif;
  font-size: 1.125em;
}

@mixin bold-text {
  font-family: 'MontserratBold', sans-serif;
  font-weight: bold;
}

@mixin regular-text {
  font-family: 'Montserrat', sans-serif;
}

@mixin float-right {
  float: right;
}
