.page-title {
  margin-bottom: 10px;
  font-size: 1.1em;
  text-align: center;
  font-family: 'MontserratBold', sans-serif;
}

.survey-summary {
  border-bottom: solid 5px $form-border-gray;
  margin-bottom: 20px;
}

.cell-1#status-change-dropdown {
  position: relative;
  cursor: pointer;
  .dd-choice-list {
    position: absolute;
    display: none;
    z-index: 3;
    background: white;

    margin-top: 5px;
    border: solid 1px goldenrod;
    width: 105%;
    
    .dd-choice {
      padding: 5px 5px 5px 0px;
      margin-bottom: 5px;
      cursor: pointer;
    }
  }  
}

.survey-dropdown-cell {
  .fa.fa-chevron-down {
    display: inline-block;
    float: right;
    color: $text-gray;
  }
}

.report-para {
  text-align: center;
  margin-bottom: 20px;

  .number {
    color: $theme-green;
  }
}

.report-question {
  border-bottom: solid 2px $background-gray;
  margin-bottom: 20px;
  padding-bottom: 10px;
}