.editable-text {
  padding: 5px;
  &.edited {
    color: $theme-green;
  }
}

.details-component {
  margin-bottom: 10px;

}

.field-example {
  margin-bottom: 5px;
}

.square-button {
  padding: 5px;
  border-radius: 5px;
  &.green {
    background-color: $theme-green;
  }
  &.red {
    background-color: $theme-red;
  }
  color: white;
  cursor: pointer;
}

.question-box,.idea-box {
  padding: 10px 15px;
}
.idea-box {
  .idea-row {
    position: relative;
  }
}

.title-box {
  display: inline-block;
}

