#survey-public-view {
  .survey-nb-row {
    position: relative;
    
    #other-sections {
      position: absolute;
      width: 100%;
      z-index: 2;
      .col-xs-4 {
	background: white;
      }
    }
    
    .col-xs-4 {
      text-align: center;
      padding: 11px 5px;
      color: black;
      min-height: 50px;
      cursor: pointer;
      border: solid 5px $background-gray;

      &.active {
	background-color: $theme-green;
	border: solid 5px $theme-green;
      }
      &#current-question {
	background-color: white;
	border: solid 5px $background-gray;
      }      
      &.inactive {
	background-color: $background-gray;
	cursor: default;
      }
      
      &#go-left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
      }

      &#go-right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
      }
    }
  }

  .question-title,.public-title {
    @include bold-text();
    text-align: center;
    padding: 10px 0;
  }
  .public-body {
    border: $form-border-gray solid 1px;
    border-radius: 5px;
    padding: 10px 5px;
  }
  
  .survey-sections {
    display: none;
  }
  .survey-sections#survey-intro {
    display: block;
  }
}

/* Idea styling */
.idea-box {
  .details {
    @include solid-gray-border();
    padding: 5px;
  }
  .editable-text {
    cursor: pointer;
  }
  .text-entry-box {
    margin-left: 10px;
  }
}

.any-card-row {
  min-height: 165px;
}

.idea-row {
  .idea {
    padding: 5px 15px;
    @include solid-gray-border();
  }

  .idea-title {
    margin-bottom: 5px;
    @include bold-title();
  }

  .budget-line {
    padding-top: 10px;
    color: $theme-green;
    @include bold-title();

    .add-to-cart {
      display: inline-block;
    }
    
    .spend-amount {
      display: inline-block;
      padding-top: 5px;
      padding-right: 10px;
    }
  }  
}
    
.ranked-idea-row {
  position: relative;
  .ranked-index {
    position: absolute;
    left: 50%;
    top: -15px;
    background: white;
    padding: 5px 10px;
    @include solid-gray-border();
  }

  .idea.col-xs-10 {
    margin-top: 20px;
    @include solid-gray-border();
  }
}
  
.controls-box {
  padding: 0;
  text-align: center;
  .ranking-sign {
    background-position-x: -15px;
    background-position-y: -8px;
    background-size: 66px;
    
    background-repeat: no-repeat;
    min-height: 40px;
    &#up {
      background-image: image-url('icons/up_chevron.png');
      padding-bottom: 3px;
      color: $theme-green;
    }
    &#down {
      color: $theme-red;
      padding-top: 3px;
      background-image: image-url('icons/down_chevron.png');
      background-position-y: -14px;
    }
    &#out {
      padding: 36px 5px;
    }
  }
  
  .move-to-ranked, .ranking-sign {
    @include bold-text();
    cursor: pointer;
    padding: 5px;
    font-size: 1.5em;
  }
}

#ranked-idea-list {
  border: dashed 1px $theme-green;
  min-height: 5em;
  .unranked {
    text-align: center;
    color: $theme-green;
    line-height: 500%;
  }
}

.question-prompt {
  @include bold-text();
  @include solid-bottom-border();
  min-height: 5em;
  line-height: 500%;
  text-align: center;
  margin-bottom: 10px;
}

/* Common formatting */
.site-button {
  @include solid-gray-border();
  @include bold-text();
  cursor: pointer;
  text-align: center;
  background-color: white;
  color: $theme-green;
  padding: 5px 10px;
  &:hover {
    @include solid-border($theme-green, 5px)
  }
}

.gray-bordered-box {
  @include solid-gray-border();
  padding: 5px;
}

#addpro {
  position: relative;
  #probox {
    position: absolute;
    top: 10px;
  }
}

#addcon {
  color: $theme-red;
}
#savepro, #savecon {
  display: none;
}

.proscons-title {
  margin: 10px 0;
  @include bold-text();
}
