.editable-text {
  padding: 5px;
  &.edited {
    color: $theme-green;
  }
}

.details-component {
  margin-bottom: 10px;

}

.field-example {
  margin-bottom: 5px;
}

.square-button {
  padding: 5px;
  border-radius: 5px;
  &.green {
    background-color: $theme-green;
  }
  &.red {
    background-color: $theme-red;
  }
  color: white;
  cursor: pointer;
}

.question-box,.idea-box {
  padding: 10px 0px;
}
.idea-box {
  .idea-row {
    position: relative;
  }
}

.title-box {
  display: inline-block;
}

.admin-ranking-sign {
  background-size: 30px 30px;
  background-repeat: no-repeat;
  height: 57px;
  margin: 25% 0;
  min-width: 32px;
  &.admin-up {
    background-image: image-url('icons/admin_up_chevron.png');
    padding: 11px 10px 0 10px;
  }
  &.admin-down {
    padding-top: 10px;
    background-image: image-url('icons/admin_down_chevron.png');
    background-position-y: 8px;
  }
  &#out {
    color: $theme-red;
  }
}