.page-title {
  margin-bottom: 10px;
  font-size: 1.1em;
  text-align: center;
  font-family: 'MontserratBold', sans-serif;
}

.survey-summary {
  border-bottom: solid 5px $form-border-gray;
  margin-bottom: 20px;
}

.survey-nb-row {
  .col-xs-4 {
    text-align: center;
    padding: 5px;
    color: black;
    background-color: $theme-green;
    &#current-question {
      background-color: $background-gray;
    }      
    &.inactive {
      color: white;
      background-color: $background-gray;
    }
    
    &#go-left {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &#go-right {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.cell-1#status-change-dropdown {
  position: relative;
  cursor: pointer;
  .dd-choice-list {
    position: absolute;
    display: none;
    z-index: 3;
    background: white;

    margin-top: 5px;
    border: solid 1px goldenrod;
    width: 105%;
    
    .dd-choice {
      padding: 5px 5px 5px 0px;
      margin-bottom: 5px;
      cursor: pointer;
    }
  }  
}

.survey-dropdown-cell {
  .fa.fa-chevron-down {
    display: inline-block;
    float: right;
    color: $text-gray;
  }
}