.editable-text {
  padding: 5px;
  &.edited {
    color: $theme-green;
  }
}

.details-component {
  margin-bottom: 10px;

}

.controls-box {
  &.active {
    display: none;
    position: absolute;
    top: 20%;
    left: -35px;
    width: 35px;
    height: 60%;
    
    background: beige;

    &.right-margin {
      left: inherit;
      background: goldenrod;
      right: 0;
    }
    .margin {
      margin: 30% 0;
      height: 80%;
    }
    
    #up {
      padding-top: 11px;
      padding-left: 7px;
    }
  }
  
  .control-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    left: -10px;    
  }
}

.field-example {
  margin-bottom: 5px;
  .text-entry-box {
    width: 100px;
    margin-left: 5px;
    background-color: gray;
  }
}

.showing-controls {
  background-color: beige;
}

.square-button {
  padding: 5px;
  border-radius: 5px;
  &.green {
    background-color: $theme-green;
  }
  &.red {
    background-color: $theme-red;
  }
  color: white;
  cursor: pointer;
}

.question-box,.idea-box {
  padding: 10px 15px;
}
.idea-box {
  .idea-row {
    position: relative;
  }
}

.title-box {
  display: inline-block;
}

