#survey-navbar {
  margin-bottom: 20px;
}

.x-box {
  cursor: pointer;
  color: $theme-red;
  position: absolute;
  right: 0;
  top: 10px;
  padding: 2px 8px 0 0;
}

.brand-header {
  @include h1-title();
  text-align: center;
  color: $primary-highlight;
  &.signed-in {
    margin-left: 150px;
  }
}

/* Idea radio (toppri) */
.toppri {
  .idea {
    input[type=radio] {
      position: absolute;
      max-width: 50px;
      left: -25px;
      top: calc(50% - 15px);
      margin: 0;
    }
    position: relative;
  }
}
  
#survey-public-view {
  /* Pro con question type */
  .idea-row {
    .input-row {
      .input-controls {
	display: none;
	position: relative;
	padding: 10px 5px 5px 5px;
	background-color: $background-gray;

	.heading {
	  width: 50%;
	  padding-bottom: 10px;
	  margin: 0 auto;
	  text-align: center;
	}
	
	textarea {
	  width: 100%;
	  border-radius: 5px;
	  margin-bottom: 5px;
	}
      }
    }
  }

  #pro-column,#con-column {
    padding: 0 20px;
    margin-bottom: 10px;
  }
  #addpro {
    position: relative;
  }

  #addcon {
    color: $theme-red;
  }

  .procon-button {
    margin-bottom: 40px;
  }

  #current-procon-list {
    margin-top: -10px;
  }

  /* Budgeting */
  .budget-line {
    padding: 10px 0 30px 0;

    .quantity-bkgrd {
      padding: 20px 20px;
      background-color: $background-gray;
      border-radius: 10px;
      
      #available-budget {
	float: right;
	.value {
	  color: $theme-green;
	}	
      }
      #used-budget {
	.value {
	  color: $theme-red;
	}
      }
    }
  }
  
  .question-title,.screen-title {
    text-align: center;
    padding: 30px 0;
  }  
  .survey-sections#survey-intro {
    display: block;
  }

  /* Thank you screen */

  #survey-thankyou {
    display: none;
  }
  
  /* Summary screen */
  #summary-screen {
    .summary-title {
      @include bold-text();
      text-align: center;
    }
    
    .summary-list {
      .survey-qn-summary {
	@include solid-gray-border();
	margin-bottom: 20px;
      }
    }
  }
  
  /* Nav bar */
  .survey-nb-row {
    position: relative;
    
    #other-sections {
      position: absolute;
      width: 100%;
      z-index: 2;
      .clickable {
	background: white;
	text-align: center;
	padding: 5px 0;
	border-right: solid $border-thickness $background-gray;
	border-left: solid $border-thickness $background-gray;	
	border-bottom: solid $border-thickness $background-gray;
	&:hover {
	  background-color: $background-gray;
	}
	&.answered {
	  color: $text-light-gray;
	}
      }
    }
    
    .navtab {
      &.active {
	background-color: $theme-green;
	border: solid 5px $theme-green;
      }
      text-align: center;
      padding: 11px 5px;
      color: black;
      min-height: 55px;
      cursor: pointer;
      border: solid 5px $background-gray;

      &#current-question {
	background-color: white;
	border-left: none;
	border-right: none;
	&.thin-bottom {
	  border-bottom: solid 1px $background-gray;
	}
      }      
      
      &#go-left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: $background-gray;
	border: solid 5px $background-gray;
      }

      &#go-right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: white;
	&.theme-red {
	  background-color: $theme-red;
	  border: solid 5px $theme-red;
	}
      }
    }
  }
}

/* Idea styling */

.component-row {
  min-height: 50px;
  margin-left: -100px;
  margin-right: -100px;
  padding-left: 100px;
  padding-right: 100px;
}

.idea-row {
  .idea-card-row {
    padding: $large-vertical-gutter calc(#{$large-vertical-gutter} - 5px);
    /* col-xs-12 adds the remaining padding on the left/right */
    min-height: 190px;

    @media (max-width: $mobile-breakpoint) {
      max-height: 480px;
      overflow: hidden;
    }
    
    @include solid-gray-border();
    margin-bottom: $large-vertical-gutter;
    
    .idea-image {
      float: left;
      max-width: 200px;
      max-height: 133px;
      overflow: hidden;
    }
    
    .idea-description {
      .moreless-text {
	color: $moreless-gray;
	cursor: pointer;
      }
    }

    .idea-title {
      margin-bottom: 5px;
      @include h1-title();
    }
  }
  
  .cart-count-line {
    margin-top: -10px;
    margin-bottom: 20px;
    * {
      vertical-align: middle;
    }
      
    padding-bottom: 20px;
    color: $theme-green;
    @include h1-title();

    .add-to-cart {
      &:hover {
	@include solid-border($theme-green, 5px)
      }
      display: inline-block;

      @media (min-width: $mobile-breakpoint) {
	margin-left: 40px;
	padding: 10px 40px;
      }
      @media (max-width: $mobile-breakpoint) {
	margin-left: 15px;
	padding: 10px 10px;
	max-width: 50%;
      }
      
      &.remove {
	color: $theme-red;
	&:hover {
	  @include solid-border($theme-red, 5px)
	}
      }
    }
    
    .spend-amount {
      min-width: 25%;
      display: inline-block;
      padding: 0 10px 0 20px;
      &.remove {
	color: $theme-red;
      }
    }
  }  
}

/* Ranking idea */
.idea-row {
  position: relative;

  .ranked-index {
    position: absolute;
    top: 0;
    left: calc(50% - 20px);
    margin: -12px auto 0px;
    width: 10%;
    text-align: center;
    background-color: white;
    @include solid-gray-border();
  }

  .idea.col-xs-10 {
    margin-top: 20px;
    @include solid-gray-border();
  }
}
  
.user-controls-box {
  position: absolute;
  max-width: 66px;
  height: 50%;
  top: 25%;

  @media (min-width: $mobile-breakpoint) {
    left: 115px;
  }
  @media (max-width: $mobile-breakpoint) {
    left: 85px;
  }

  .control-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    left: -10px;    
  }
  
  .ranking-sign {
    background-position-x: -15px;
    background-position-y: -8px;
    background-size: 66px;
    background-repeat: no-repeat;
    height: 40px;
    min-width: 66px;
    
    &.up {
      background-image: image-url('icons/up_chevron.png');
      padding: 11px 0 1px 10px;
      color: $theme-green;
    }
    &.down {
      color: $theme-red;
      padding: 10px 1px 0 11px;
      background-image: image-url('icons/down_chevron.png');
      background-position-y: -6px;
      margin-top: -10px;
    }
  }
  
  .move-to-ranked, .ranking-sign, .admin-ranking-sign {
    @include bold-text();
    cursor: pointer;
    font-size: 1.5em;
    display: inline-block;
  }
}

/* Suggest Idea */
.edit-areas {
  min-width: 400px;
  @include solid-gray-border();
  padding-left: 20px;
  transition: padding-left 0.2s;
  &:valid {
    padding-left: 5px;
  }
}  
#new_idea_title {
  min-height: 50px;
}
#new_idea_description {
  min-height: 250px;
  padding-top: 10px;
}

/* Non-idea fields styling */
.component-box {
  .text-entry-box {
    margin-left: 10px;
  }
}

/* Common formatting */
.site-button {
  @include solid-gray-border();
  @include bold-text();
  cursor: pointer;
  text-align: center;
  background-color: white;
  color: $theme-green;
  padding: 5px 10px;
  &:hover {
    @include solid-border($theme-green, 5px)
  }
}

.procon-entry {
  @include solid-gray-border();
  padding: 10px;
  margin-top: 5px;
}

/* For summary screen */
.question-row {
  position: relative;
  .details-container {
    padding: 5px;
    @include solid_gray_border();
    
    .title-box {
      @include bold-text();
      font-size: 1.3em;
      padding-bottom: 10px;
    }

    .question-type-box {
      color: $text-gray;
      font-size: 0.9em;
      padding-bottom: 10px;
    }
  }
}

.title-box {
  display: inline-block;
}
