/* Variables */

/* Backgrounds */

$form-background: #FFF;
$background-gray: #F0F1F2;
$dark-background-gray: #676D73;
$button-background: #4183D7;

/* Borders */

$form-border-gray: #F0F1F2; /*4C3D3D*/

/* General style guide */

$hover-blue: #B9E0F1;
$fake-link-blue: #19A0FF;

$primary-highlight: #C54943;
$theme-red: #C54943;
$theme-green: #409599;

/* Font colors */

$text-light-gray: #ABAE84;
$text-gray: #676D73;
$theme-white: #FCFCFC;

/* Interactivity */
$primary-button-gradient-start: #a7d2d4;
$primary-button-gradient-end: #409599;
$selected-green: lightgreen;

/* Distances */
$large-vertical-gutter: 20px;

/* Breakpoints */

$mobile-breakpoint: 450px;
