
$form-background: #FFF;

/* Style guide Colors */

$form-border-gray: #F0F1F2; /*4C3D3D*/
$primary-highlight: #C54943;
$theme-red: #C54943;
$theme-green: #409599;

$background-gray: #F0F1F2;
$text-gray: #676D73;

$style-white: #FCFCFC;

/* interactivity */
$primary-button-gradient-start: #a7d2d4;
$primary-button-gradient-end: #409599;
$selected-green: lightgreen;
