.builder-box.row{class: is_hidden ? 'myhidden' : ''}
  .builder-before
  .hidden{'data-box-id' => 1 + box_index, 'data-box-key' => box_key}
  .col-xs-offset-4.col-xs-4
    .title
      = build_box_title
  .help-text
  .col-xs-12
    = yield
  .builder-after
    ?
