.builder-box.row{class: !hide_conditional(@form_object, vb) ? 'myhidden' : ''}
  .hidden{'data-box-key' => vb.box_key}
  .col-xs-offset-4.col-xs-4
    .title
      = vb.title
  .help-text
  .col-xs-12
    = yield
  .builder-after
    ?
