.builder-box.row{class: !vb.shown ? 'myhidden' : ''}
  .hidden{'data-box-id' => 1 + box_index, 'data-box-key' => vb.box_key}
  .col-xs-offset-4.col-xs-4
    .title
      = vb.title
  .help-text
  .col-xs-12
    = yield
  .builder-after
    ?
