.footer
  .cityname
    = link_to ENV['CITY_NAME'], ENV['CITY_SITE_LINK']
  .subfooter.row
    .col-xs-12{style: 'padding: 0;'}
      .itembox#box1
        = link_to 'Terms and Conditions', t('general.tos_url')
    .col-xs-12{style: 'padding-left: 5px;'}
      .itembox#box2
        = link_to 'Privacy Policy', t('general.privacy_url')
