.footer
  .cityname
    = ENV['CITY_NAME']
  .subfooter.row
    .centerbox
      .itembox{style: 'text-align: right'}
        = link_to 'Terms and Conditions', 'http://bouldinlabs.com/tos'
      .pipebox
        |
      .itembox
        = link_to 'Privacy Policy', 'http://bouldinlabs.com/privacy'
