- remove_bottom ||= false
.row.idea-card-row{class: remove_bottom ? 'remove-bottom-margin' : ''}
  .col-xs-12.cancel-padding
    .row.cancel-margins
      .idea-image
        %image{src: '<%- card_image_url %>'.html_safe}
      .idea-title
        <%- title %>
      .idea-description
        %span.editbox
          <%- description %>
        %span.summary.wrapper
          %span
            <%- desc_summary %>
        %span.full.wrapper
          %span
            <%- description %>
      .moreless-text{'data-switch-to' => 'full'}
        = t('idea.card_more')

    .idea-attachments
      .centered-cell.bold-text
        Attachments
      
