.navtop
  .float-right
    - if current_admin
      = link_to 'Sign Out', destroy_admin_session_path, :method => :delete
    - else
      = link_to 'Sign In', new_admin_session_path

  .brand-header
    = t(:site_brand)
    
